.test-list {
    display: flex;
}

.card-style {
    max-width: 350px;
    background-color: #ECDAFF;
    margin: 10px;
}

.img-style {
    width: 350px;
    height: 350px;
}

.card-content {
    height: 40px;
}

.mat-card-actions .mat-button:first-child {
    background-color: #D8BBF8;
    margin: auto;
    display: flex;
}