.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
}

.final-step {
    font-weight: bold;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}