<div class="dialog-color">
    <div *ngIf="!isProceed">
        <h4>Description</h4>
        <p>
            {{ test.description }}
        </p>
        <mat-checkbox [(ngModel)]="isChecked">
            <strong>
                I agree to start
            </strong> 
        </mat-checkbox>
        <div class="width-content"
             matTooltip="Click on the checkbox please"
             matTooltipPosition="right"
             [matTooltipDisabled]="isChecked">
            <button mat-raised-button 
                    id="proceed-button"
                    (click)="proceedTesting()" 
                    [disabled]="!isChecked">
                PROCEED
            </button>
        </div>
    </div>
    <div *ngIf="isProceed" class="default-test-dialog">
        <mat-horizontal-stepper linear #stepper>
            <mat-step *ngFor="let question of test.questions; index as i;">
                <ng-template matStepLabel>Question #{{ i + 1 }}</ng-template>
                <p>
                    <strong>
                        {{ question.questionText }}
                    </strong>
                </p>
                <mat-radio-group
                    class="radio-group">
                    <mat-radio-button class="radio-button" 
                                      *ngFor="let answer of question.answers" 
                                      [value]="answer"
                                      (click)="setAnswer(answer)">
                                      {{answer.answerText}}
                    </mat-radio-button>
                </mat-radio-group>
                <div class="display-flex">
                    <button mat-button 
                            matStepperPrevious 
                            (click)="setIsMarkedToTrue()">
                            BACK
                    </button>
                    <div class="width-content"
                         matTooltip="Select or confirm answer please"
                         matTooltipPosition="right"
                         [matTooltipDisabled]="isMarked">
                         <button mat-button 
                                 matStepperNext 
                                 [disabled]="!isMarked" 
                                 (click)="setIsMarkedToFalse()">
                                 NEXT
                         </button>
                    </div>
                </div>
            </mat-step>
            <mat-step class="final-step">
                <ng-template matStepLabel>
                    Your result!
                </ng-template>
                <div *ngIf="!isCheckAnswer; else resultText">
                    <h3>
                        Are you sure to check your answers?
                    </h3>
                    <div id="final-step-buttons">
                        <button mat-button 
                                matStepperPrevious 
                                (click)="setIsMarkedToTrue()">
                                BACK
                        </button>
                        <button mat-button
                                (click)="getResult()">
                                CHECK
                        </button>
                    </div>
                </div>
                <ng-template #resultText>
                    <h3 *ngIf="testResult; else loserText">
                        You are win!
                    </h3>
                    <ng-template #loserText>
                        <h3>Please try again!</h3>
                    </ng-template>
                    <div id="final-step-buttons">
                        <button mat-button 
                                *ngIf="testResult"
                                matStepperPrevious 
                                (click)="setIsMarkedToTrue()">
                                BACK
                        </button>
                        <button mat-button
                                *ngIf="!testResult"
                                (click)="stepper.reset(); setTestResultToFalse();">
                                START AGAIN
                        </button>
                        <button mat-button 
                                mat-dialog-close>
                                CLOSE
                        </button>
                    </div>
                </ng-template>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>